@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-ocean: #006994;
  --color-ocean-light: #008cba;
  --color-ocean-dark: #004b6b;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}